/* Body Section */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  width: 375px;
  margin: 0 auto;
}

/* Header Section */
.container {
  margin: 0 auto;
  width: 85%;
}

.flex {
  display: flex;
}

.description-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.1;
}

.heading-tertiary {
  font-family: "Crete Round", sans-serif;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 4.4rem;
  letter-spacing: 0;
}

.btn:link,
.btn:visited {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  background-color: #ff6b00;
  text-decoration: none;
  color: #fff;
}

.btn:active,
.btn:hover {
  background-color: #c06d1f;
}

.btn-inline-block {
  display: inline-block;
}

.section-header {
  background-color: #3c3a39;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.header-box {
  justify-content: space-between;
  align-items: center;
}

.headline-container {
  flex-direction: column;
  justify-content: space-arounnpxd;
}

.section-headline {
  padding: 12rem 0;
  background: #1c1a19 url(img/desktopheadline.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
}

.heading-primary {
  font-family: "Crete Round", serif;
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding-bottom: 2.4rem;
}

.headline-support {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.15rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fff5e1;
  padding-bottom: 1.2rem;
}

.headline-description {
  color: #fff;
}

.social-media-list {
  gap: 2rem;
}

.social-list {
  justify-content: flex-start;
  margin-top: 1.8rem;
}

.hero-icons {
  width: 2rem;
  fill: #cfcfcf;
}
